.footer {
  background-color: $footer-color;
  width: 100%;

  &__wrapper {
    max-width: 140rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    color: $grey-text-color;
  }
  &__logo {
    font-size: 2.4rem;
    line-height: 3rem;
    color: $footer-logo-color;
    padding: 3.7rem 4.8rem;
  }
  &__container {
    @include flex-row-start;
    padding: 3.7rem 11.6rem 4.8rem 4.8rem;
    gap: 9.1rem;
    align-self: flex-end;
  }
  &__socials {
    @include flex-column-start;
    gap: 2rem;

    &-list {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 4rem;
    }
  }
  &__projects {
    @include flex-column-start;
    gap: 1.5rem;

    &-list {
      @include flex-column-start;
      gap: 1.6rem;
    }
  }
  &__contact {
    @include flex-column-start;
    gap: 2.1rem;

    &-list {
      @include flex-column-start;
      padding: 0px;
      gap: 2.1rem;

      &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.7rem;
      }
    }
  }

  &__copy-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
}
