.button {
  padding: 1.2rem 3.4rem;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: $btn-color;
  color: $white-text-color;

  &:hover {
    background-color: $white-color;
    color: $black-text-color;
  }

  &:active {
    text-decoration-line: underline;
  }
}

.form-button {
  width: fit-content;
  font-size: 1.2rem;
  padding: 1.8rem 2.4rem;
  line-height: 1.2rem;
  letter-spacing: 0.2em;
}

.link-button {
  &:link,
  &:visited {
    padding: 1.8rem 2.4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    line-height: 1.2rem;
    color: $white-text-color;
    background-color: $btn-color;
    border: 1px solid #000000;
  }

  &:hover {
    background-color: $white-color;
    color: $black-text-color;
  }

  &:active {
    text-decoration-line: underline;
  }
}
